[user]
    name  = "rangerheart"
    email = leoxiang727@qq.com
  
[color]
    ui = true  

[alias]
    co = checkout  
    ci = commit  
    st = status  
    br = branch  

[core]
    editor = "vim"

[merge]
    tool = "vimdiff"

[diff]
    tool = "vimdiff"

[status]
    showUntrackedFiles = no
